<!DOCTYPE html>
<html>
  <head>
    <title>mkIdea</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <title>Progate</title>
    <link rel="stylesheets" href="home.css">
    <link rel="stylesheets" href="responsive.css">
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag 'favicon2.ico' %>
    
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <script>
      (adsbygoogle = window.adsbygoogle || []).push({
        google_ad_client: "ca-pub-6767612882812359",
        enable_page_level_ads: true
      });
    </script>
    
  </head>

  <body>
    <header>
      <div class="header-left">
        <div class="header-logo">
          <%= image_tag "bud.png" %>
          <a>mkIdea</a>
        </div>
      </div>
      <div class="header-right">
        <div class="header-message">
          <p>イノベーションとは新結合である。　by シュンペーター</p>
        </div>
      </div>
    </header>
    
    <%= yield %>
    
  </body>
</html>
